body{
    font-family: Arial;
    background-color: lightblue;
}

.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border: none;
}